.swiper {
}

.swiper-slide {
  /* display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff; */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

#root {
  user-select: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#root::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--theme-scrollbar-track, --background); /* 使用CSS变量 */
}

::-webkit-scrollbar-thumb {
  background: var(--theme-scrollbar-thumb, #ffffff);
  border-radius: 8px;
}
